.sensor-container {
    padding: 20px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.sensor-container:hover {
    transform: translateY(-2px);
}

.temperature:hover {
    background-color: rgba(255, 0, 0, 0.1);
}

.motion:hover {
    animation: shake 0.5s infinite alternate;
}

.light:hover {
    background-color: rgba(255, 255, 0, 0.1);
}

.sound:hover {
    cursor: pointer;
}

.pressure {
    cursor: pointer;
}

.humidity:hover {
    background-color: rgba(0, 0, 255, 0.1);
}


@keyframes shake {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(5deg);
    }
}

.about-dimi {
    background-image: url('assets/hoofdFoto.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(74, 74, 74);
    text-shadow: 2px 2px 4px black;
    position: relative;
  }

.about-dimi img.hoofd {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 1;
  }

.about-dimi:hover img.hoofd {
    opacity: 0;
  }

.about-dimi:hover img.hoofdFoto {
    opacity: 1;
    z-index: 2;
  }

.about-dimi img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

.about-dimi img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }

.about-dimi {
        color: rgb(74, 74, 74);
      }

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


.mySlides {
    display: none;
}